## Integrantes: Ruiz Jose - Parraga María José - Borja Leonardo

### Importar librerias

In [1]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
from tabulate import tabulate

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

# Preprocesado y modelado
# ==============================================================================
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import make_blobs
from sklearn.metrics import euclidean_distances
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Ridge

from skopt.space import Real, Integer
from skopt.utils import use_named_args
from skopt import gp_minimize
from skopt.plots import plot_convergence

# Varios
# ==============================================================================
import multiprocessing
import random
from itertools import product
from fitter import Fitter, get_common_distributions

# Configuración matplotlib
# ==============================================================================
plt.rcParams['image.cmap'] = "bwr"
#plt.rcParams['figure.dpi'] = "100"
plt.rcParams['savefig.bbox'] = "tight"
style.use('ggplot') or plt.style.use('ggplot')

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

### Descripción del dataset (DATOS)

#### VARIABLES DE ENTRADA

**age:** edad del beneficiario principal

**sex:** contratista de seguros género, femenino, masculino

**bmi:** Índice de masa corporal, que proporciona una comprensión del cuerpo, pesos que son relativamente altos o bajos en relación con la altura, 

**objetive:** índice objetivo de peso corporal (kg / m ^ 2) utilizando la relación entre altura y peso, idealmente 18,5 a 24,9

**children:** Número de niños cubiertos por el seguro de salud / Número de dependientes

**smoker:** fumar

**region:** el área residencial del beneficiario en los EE. UU., noreste, sureste, suroeste, noroeste.

**charges:** costos médicos individuales facturados por el seguro de salud

#### CARGAR DATOS DEL DATASET Y RENOMBRAMIENTO DE LAS VARIABLES

In [14]:
#datos cargados = archivo tipo pandas
datos = pd.read_csv('Medical.csv',  sep = "," )  

# Cambiar el nombre de las columnas para mostrar más 
datos.columns=[ "edad","sexo" ,"masa corporal" ,"niños", 
                 "fumadores","region", "cargos"]

### ANÁLISIS EXPLOTARIO

In [17]:
#mostrar los 10 primeros registros
datos.head(10)

   edad    sexo  masa corporal  niños fumadores     region       cargos
0    19  female         27.900      0       yes  southwest  16884.92400
1    18    male         33.770      1        no  southeast   1725.55230
2    28    male         33.000      3        no  southeast   4449.46200
3    33    male         22.705      0        no  northwest  21984.47061
4    32    male         28.880      0        no  northwest   3866.85520
5    31  female         25.740      0        no  southeast   3756.62160
6    46  female         33.440      1        no  southeast   8240.58960
7    37  female         27.740      3        no  northwest   7281.50560
8    37    male         29.830      2        no  northeast   6406.41070
9    60  female         25.840      0        no  northwest  28923.13692

#### Tipo de cada columna

In [18]:
#Mostrar los tipos de datos
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   edad           1338 non-null   int64
 1   sexo           1338 non-null   object
 2   masa corporal  1338 non-null   float64
 3   niños          1338 non-null   int64
 4   fumadores      1338 non-null   object
 5   region         1338 non-null   object
 6   cargos         1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

#### Division del dataset y verificación de datos nulos

In [19]:
datos.shape

(1338, 7)

In [20]:
# Número de datos ausentes por variable
datos.isna().sum().sort_values()

edad             0
sexo             0
masa corporal    0
niños            0
fumadores        0
region           0
cargos           0
dtype: int64